name: Daily Update
on:
  push:
  schedule:
    - cron: "45 8 * * *"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Get source
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4
      - name: Update README.md
        run: uv run python build-readme.py
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update README.md
          file_pattern: README.md
